<div class="mt4">
	<h3 class="my-4">My Courses</h3>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Name</th>
				<th scope="col">Level</th>
				<th scope="col">Created At</th>
				<th scope="col">Modify</th>
			</tr>
		</thead>
		<tbody>
			{{#each courses}}
				<tr>
					<th scope="row">{{sum @index 1}}</th>
					<td>{{this.name}}</td>
					<td>{{this.level}}</td>
					<td>{{this.createdAt}}</td>
					<td>
						<a
							href="/course/{{this._id}}/edit"
							class="btn btn-success mr-2"
						>Edit</a>
						<a
							href=""
							class="btn btn-danger"
							data-toggle="modal"
							data-id="{{this._id}}"
							data-target="#deleteCourseModal"
						>Delete</a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

{{! confirm delete course }}
<div id="deleteCourseModal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete course!</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure to delete the course???</p>
			</div>
			<div class="modal-footer">
				<button
					id="btn-delete-course"
					type="button"
					class="btn btn-danger"
				>Confirm</button>
				<button
					type="button"
					class="btn btn-secondary"
					data-dismiss="modal"
				>Cancel</button>
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function() { var courseId;
	$('#deleteCourseModal').on('show.bs.modal', function (event) { var button =
	$(event.relatedTarget); courseId = button.data('id'); }) var btnDeleteCourse =
	document.getElementById('btn-delete-course');
	btnDeleteCourse.addEventListener("click", function() { console.log(courseId);
	}) });
</script>